.radio-group {
    display: flex;
    flex-direction: column;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: #e3f2fd;
}

.approval-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.approval-status {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;

}


.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

#gantt {
  width: 100%;
  height: 500px; /* Regolare l'altezza come desiderato */
}

// -----

.sidebar-content {
  display: none;
}

@media (min-width: 768px) {
  .sidebar-content {
    display: block !important;
  }
  .sidebar-toggle {
    display: none !important;
  }
}

.hidden {
  display: none;
}
.text-danger {
  color: red;
}


// status scadenze

.status-indicator {
  padding: 5px;
  color: white;
  display: inline-block;
  margin-left: 10px;
}

.status-green {
  background-color: green;
  color: white; /* Testo nero per visibilità */

}

.status-yellow {
  background-color: yellow;
  color: black; /* Testo nero per visibilità */
}

.status-red {
  background-color: red;
  color: white; /* Testo nero per visibilità */

}

.chat-container {
  display: flex;
  flex-direction: column-reverse; /* Mostra i messaggi recenti in basso */
  height: 80vh;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  flex-direction: column-reverse; /* Mostra i messaggi recenti in basso */
}

.chat-input-container {
  position: sticky;
  bottom: 0;
  background-color: white;
  z-index: 1000;
}

.titoloCardTicket{
  z-index: 1000;
}

.chat-message-right {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem; /* Aggiungi un po' di spazio tra i messaggi */
}

.chat-message-left {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem; /* Aggiungi un po' di spazio tra i messaggi */
}

.chat-message-right > div,
.chat-message-left > div {
  max-width: 60%;
}

.bg-light {
  background-color: #f5f5f5 !important;
}

.bg-grey {
  background-color: #3f3f3f !important;
  color: #f5f5f5;
}

.nomeUtente {
 font-weight: bold;
}

